name: Listed
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - run: pwd
      - name: Write file with
        id: write
        uses: zhangyu1818/write-file-with@1.2.0
        with:
          file: "README.md"
          script: "./scripts/listed.js"
      - run: echo "${{ steps.write.outputs.result }}"
      - uses: EndBug/add-and-commit@v7
        with:
          message: "Update README.md"
